<div class="row">


  
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Ngx-Datatable</h6>
          <div class="table-responsive">
            <ngx-datatable
            [rows]="rows"
            class="bootstrap"
            [loadingIndicator]="loadingIndicator"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [columns]="columns"
            [reorderable]="reorderable"
            ngx-datatable-column-draggable="true"
            ngx-datatable-row-draggable="true" >
          </ngx-datatable>
          
        </div>
      </div>
    </div>
  </div>
  