<div class="text-center">
  <input class="form-control" type="file" 
          (change)="onChange($event)">

  <button (click)="onUpload()" 
      class="btn btn-success">
      Upload
  </button>
</div>

<!-- Shareable short link of  uploaded file -->
<div class="container text-center jumbotron"
  *ngIf="shortLink">
  <h2> Visit Here</h2>
  <a href="{{shortLink}}">{{shortLink}}</a>
</div>

<!--Flag variable is used here-->
<div class="container" *ngIf="loading">
  <h3>Loading ...</h3>
</div>


<div class="row">
  <div class="col-md-12 stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <ngx-datatable
          class="bootstrap"
          [loadingIndicator]="loadingIndicator"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [rows]="rows"
          [columns]="columns"
          [reorderable]="reorderable"
          ngx-datatable-column-draggable="true"
          ngx-datatable-row-draggable="true"
          style="font-size: medium;"
        >
        </ngx-datatable>
        
      </div>
    </div>
  </div>
</div>
